#clockitself {
  width: 50%;
  padding-bottom: 50%;
  background-color: rgb(121, 224, 255);
  border: 10px solid black;
  border-radius: 50%;
  position: relative;
}

.stopwatch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
}

.pointer {
  position: absolute;
  width: 8px;
  height: 45%;
  background-color: black;
  left: calc(50% - 4px);
  bottom: 50%;
  /* the animation itself: */
  animation: rotate-pointer;
  animation-duration: 5s;
  animation-timing-function: linear;
  transform-origin: center bottom;
}

@keyframes rotate-pointer {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.centerdot {
  position: absolute;
  left: calc(50% - 10px);
  top: calc(50% - 10px);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
}