#container {
  padding: 20px;
}

.containerVid {
  z-index: -2; 
  position:absolute;
}

.containerOverVid {
  margin-top: 20px;
} 

#playButtons {
  border: 1px solid gray;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 110px;
  width: 8%;
  float: left;
}

.playButton{
  width: 100%;
  padding: 10px;
  font-size: large
}

#nextButtons {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  /* border: 1px solid gray; */
  /* border-radius: 5px; */
  margin-bottom: 20px;
  padding-top: 100px;
}

.nextButton{
  margin-top: 20px;
  font-size: larger;
  box-shadow: 0 0 20px gray;
}

.c1 {
  padding: 50px;
  width: 90%;
  margin-left: 5%;
}

.c2 {
  padding: 50px;
  width: 90%;
  margin-left: 5%;
}

#myVideo {
  width: 100%;
}

#vidNum {
  float: right;
}

/* the timer */

#clockitself {
  width: 50%;
  padding-bottom: 50%;
  background-color: white;
  border: 5px solid black;
  border-radius: 50%;
  position: relative;
}

#clockitself2 {
  width: 50%;
  padding-bottom: 50%;
  background-color: white;
  border: 5px solid black;
  border-radius: 50%;
  position: relative;
}

.stopwatch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8%;
  padding: 10px;
  float: left;
  z-index: -1;
  position: absolute;
}

#pointer {
  position: absolute;
  width: 4px;
  height: 45%;
  background-color: black;
  left: calc(50% - 2px);
  bottom: 50%;
  /* the animation itself: */
  animation: rotate-pointer;
  animation-duration: 5s;
  /* animation-iteration-count: infinite;  */
  animation-timing-function: linear;
  transform-origin: center bottom;
  animation-play-state: paused;
}

#pointer2 {
  position: absolute;
  width: 4px;
  height: 45%;
  background-color: black;
  left: calc(50% - 2px);
  bottom: 50%;
  /* the animation itself: */
  animation: rotate-pointer2;
  animation-duration: 5s;
  animation-timing-function: linear;
  transform-origin: center bottom;
  animation-play-state: paused;
}

@keyframes rotate-pointer {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-pointer2 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.centerdot {
  position: absolute;
  left: calc(50% - 5px);
  top: calc(50% - 5px);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
}